doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    title wasy example
    link(rel='stylesheet', type='text/css', href='./main.css')
    script(type='text/javascript', src='./main.js')
  body
    h1 wasy example
    div.partition
      form
        input#userFileRadio(type='radio', name='midiSource', value='userFile', checked='checked')
        input#fileButton(type='file')
        br
        input#serverFileRadio(type='radio', name='midiSource' value='serverFile')
        select#fileSelector
        br
        input#playButton(type='button', value='play')
        input#pauseButton(type='button', value='pause')
    div.partition
      canvas#keyboardCanvas(width=640, height=480)
    h2 対応状況
    ul
      li General MIDI
        ul
          li volume, panpot, expression
          li pitch bend, pitch bend range
          li all sound off, reset all control
      li Web MIDI API
      li WebMidiLink
    h2 ソースコード
    p
      a(href='https://github.com/taskie/wasy') taskie/wasy (GitHub)